## Employee BURN RATE Prediction

The dataset contains Employee information 

Dataset Source: Hackerearth

Independent Variables :
- 'Employee ID', 
- 'Date of Joining', 
- 'Gender', 
- 'Company Type',
- 'WFH Setup Available', 
- 'Designation', 
- 'Resource Allocation',
- 'Mental Fatigue Score', 
    

Dependent Variable :
- 'Burn Rate'

Event is continous varible - Rate i.e. 0 to 1 Value

Created Features :
- 'Vintage' : [Last Date - Date of Joining]


### Problem Type :
    Status Prediction Model

### ML algorithm used :
    Linear Regrssion Model


#### Categorical Varible

cat_var = ['Gender', 'Company Type', 'WFH Setup Available', 'Designation', 
           'Resource Allocation']

#### Continous Varible

df_cont_var = df1[['Designation','Resource Allocation','Mental Fatigue Score','Burn Rate']]


### FINAL EQUATION

Equation:   
-                y = 
-                [-0.08623414] + 
-                [0.0047] * Gender_dum + 
-                [-0.0111] * WFH_Setup_Available_dum + 
-                [-0.0045] * Designation + 
-                [0.0284] * Resource Allocation + 
-                [0.07409] * Mental Fatigue Score

In [1]:
!pip install datatile --quiet

In [2]:
import pandas as pd
import numpy as np
from datatile.summary.df import DataFrameSummary
from datetime import datetime
import scipy.stats as stats
import pandas as pd

In [3]:
raw_data = pd.read_csv("Dataset/train.csv")

In [4]:
print(raw_data.shape)
raw_data.head()

(22750, 9)

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36
2,fffe31003300320037003900,2008-03-10,Female,Product,Yes,2.0,NaN,5.8,0.49
3,fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20
4,fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52

In [18]:
df_raw_data_clean.columns

NameError: name 'df_raw_data_clean' is not defined

In [19]:
dfs = DataFrameSummary(raw_data)
dfs.summary()

/home/codespace/.python/current/lib/python3.10/site-packages/datatile/summary/df.py:39: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  self.corr = df.corr()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
count,NaN,NaN,NaN,NaN,NaN,22750.0,21369.0,20633.0,21626.0
mean,NaN,NaN,NaN,NaN,NaN,2.178725,4.481398,5.728188,0.452005
std,NaN,NaN,NaN,NaN,NaN,1.135145,2.047211,1.920839,0.198226
min,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
25%,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.6,0.31
50%,NaN,NaN,NaN,NaN,NaN,2.0,4.0,5.9,0.45
75%,NaN,NaN,NaN,NaN,NaN,3.0,6.0,7.1,0.59
max,NaN,NaN,NaN,NaN,NaN,5.0,10.0,10.0,1.0
counts,22750,22750,22750,22750,22750,22750,21369,20633,21626
uniques,22750,366,2,2,2,6,10,101,101
missing,0,0,0,0,0,0,1381,2117,1124
missing_perc,0%,0%,0%,0%,0%,0%,6.07%,9.31%,4.94%
types,unique,categorical,bool,bool,bool,numeric,numeric,numeric,numeric

In [79]:
df_raw_data_clean.columns

Index(['Employee ID', 'Date of Joining', 'Gender', 'Company Type',
       'WFH Setup Available', 'Designation', 'Resource Allocation',
       'Mental Fatigue Score', 'Burn Rate', 'Vintage'],
      dtype='object')

In [20]:
# Null value treatment
raw_data['Resource Allocation'].fillna(value=raw_data['Resource Allocation'].median())
df_raw_data_clean = raw_data.dropna(axis=0)

df_raw_data_clean.shape

(18590, 9)

In [21]:
dfs = DataFrameSummary(df_raw_data_clean)
dfs.summary()

/home/codespace/.python/current/lib/python3.10/site-packages/datatile/summary/df.py:39: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  self.corr = df.corr()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
count,NaN,NaN,NaN,NaN,NaN,18590.0,18590.0,18590.0,18590.0
mean,NaN,NaN,NaN,NaN,NaN,2.179398,4.486552,5.732173,0.452444
std,NaN,NaN,NaN,NaN,NaN,1.133148,2.044848,1.920547,0.197848
min,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
25%,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.6,0.32
50%,NaN,NaN,NaN,NaN,NaN,2.0,4.0,5.9,0.45
75%,NaN,NaN,NaN,NaN,NaN,3.0,6.0,7.1,0.59
max,NaN,NaN,NaN,NaN,NaN,5.0,10.0,10.0,1.0
counts,18590,18590,18590,18590,18590,18590,18590,18590,18590
uniques,18590,366,2,2,2,6,10,101,101
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,unique,categorical,bool,bool,bool,numeric,numeric,numeric,numeric

In [22]:
cat_var = ['Gender', 'Company Type', 'WFH Setup Available', 'Designation', 
           'Resource Allocation']

def generate_class_table(dataframe, target_column):
    class_table = pd.DataFrame(columns=['Column Name', 'Classes', 'Count', 'Percentage', 'Y Mean'])
    for column in cat_var:
        classes = dataframe[column].value_counts()
        total_count = classes.sum()
        percentages = (classes / total_count) * 100

        #y_counts = dataframe[dataframe[target_column] == 'Y'][column].value_counts()
        y_means = dataframe.groupby(column)[target_column].mean()
        
        for class_value, count, percentage, y_means in zip(
            classes.index, classes.values, percentages.values, y_means.values
        ):
            data = {
                'Column Name': column,
                'Classes': class_value,
                'Count': count,
                'Percentage': round(percentage, 2),
                'Y Mean': round(y_means, 2)
            }
            class_table = pd.concat([class_table,pd.DataFrame(data, index=[0])])
            class_table.reset_index(drop=True, inplace=True)

    return class_table

In [23]:
summary_1 = generate_class_table(df_raw_data_clean,"Burn Rate")
summary_1

            Column Name  Classes  Count  Percentage  Y Mean
0                Gender   Female   9747       52.43    0.42
1                Gender     Male   8843       47.57    0.48
2          Company Type  Service  12174       65.49    0.45
3          Company Type  Product   6416       34.51    0.45
4   WFH Setup Available      Yes  10030       53.95    0.52
5   WFH Setup Available       No   8560       46.05    0.40
6           Designation      2.0   6214       33.43    0.15
7           Designation      3.0   4920       26.47    0.31
8           Designation      1.0   3954       21.27    0.44
9           Designation      4.0   1947       10.47    0.55
10          Designation      0.0   1238        6.66    0.69
11          Designation      5.0    317        1.71    0.86
12  Resource Allocation      4.0   3396       18.27    0.14
13  Resource Allocation      5.0   3364       18.10    0.25
14  Resource Allocation      3.0   2761       14.85    0.34
15  Resource Allocation      6.0   2590       13.93    0.42
16  Resource Allocation      2.0   1794        9.65    0.49
17  Resource Allocation      7.0   1697        9.13    0.58
18  Resource Allocation      1.0   1551        8.34    0.66
19  Resource Allocation      8.0    907        4.88    0.74
20  Resource Allocation      9.0    396        2.13    0.83
21  Resource Allocation     10.0    134        0.72    0.90

In [24]:
pd.DataFrame(df_raw_data_clean['Date of Joining'].value_counts()).sort_index()

            Date of Joining
2008-01-01               48
2008-01-02               49
2008-01-03               40
2008-01-04               53
2008-01-05               37
...                     ...
2008-12-27               45
2008-12-28               60
2008-12-29               44
2008-12-30               42
2008-12-31               50

[366 rows x 1 columns]

In [25]:
date_end = datetime.strptime("2008-12-31", "%Y-%m-%d").date()
df_raw_data_clean["Date of Joining"] = pd.to_datetime(df_raw_data_clean["Date of Joining"])
df_raw_data_clean.loc[:,"Vintage"] = date_end - df_raw_data_clean['Date of Joining'].dt.date

/tmp/ipykernel_1436/3008333879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_data_clean["Date of Joining"] = pd.to_datetime(df_raw_data_clean["Date of Joining"])
/tmp/ipykernel_1436/3008333879.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_data_clean.loc[:,"Vintage"] = date_end - df_raw_data_clean['Date of Joining'].dt.date

In [26]:
df_raw_data_clean.head(10)

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,Vintage
0,fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16,92 days
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36,31 days
3,fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20,58 days
4,fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52,160 days
5,fffe3300350037003500,2008-11-26,Male,Product,Yes,2.0,4.0,3.6,0.29,35 days
6,fffe33003300340039003100,2008-01-02,Female,Service,No,3.0,6.0,7.9,0.62,364 days
7,fffe32003600320037003400,2008-10-31,Female,Service,Yes,2.0,4.0,4.4,0.33,61 days
10,fffe33003100330032003700,2008-03-16,Male,Product,Yes,2.0,3.0,5.3,0.50,290 days
11,fffe3400310035003800,2008-05-12,Male,Service,Yes,0.0,1.0,1.8,0.12,233 days
14,fffe33003100330036003300,2008-05-14,Male,Product,Yes,1.0,3.0,5.8,0.51,231 days

In [27]:
def remove_outliers(df, column_name):
    percentile = 99
    upper_threshold = np.percentile(df[column_name], percentile)
    df[column_name] = np.where(df[column_name] > upper_threshold, upper_threshold, df[column_name])
    return df

In [28]:
df1 = df_raw_data_clean.reset_index(drop=True)

In [29]:
df1['Gender_dum'] = df1['Gender'].map({'Male': 1, 'Female': 0})
df1['Company_Type_dum'] = df1['Company Type'].map({'Service': 1, 'Product': 0})
df1['WFH_Setup_Available_dum'] = df1['WFH Setup Available'].map({'Yes': 1, 'No': 0})

In [30]:
dfs = DataFrameSummary(df1)
dfs.summary()

/home/codespace/.python/current/lib/python3.10/site-packages/datatile/summary/df.py:39: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  self.corr = df.corr()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,Vintage,Gender_dum,Company_Type_dum,WFH_Setup_Available_dum
count,NaN,NaN,NaN,NaN,NaN,18590.0,18590.0,18590.0,18590.0,18590,18590.0,18590.0,18590.0
mean,NaN,NaN,NaN,NaN,NaN,2.179398,4.486552,5.732173,0.452444,182 days 12:15:57.417966648,0.475686,0.654868,0.539537
std,NaN,NaN,NaN,NaN,NaN,1.133148,2.044848,1.920547,0.197848,105 days 06:51:38.842052732,0.499422,0.475424,0.498448
min,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0 days 00:00:00,0.0,0.0,0.0
25%,NaN,NaN,NaN,NaN,NaN,1.0,3.0,4.6,0.32,92 days 00:00:00,0.0,0.0,0.0
50%,NaN,NaN,NaN,NaN,NaN,2.0,4.0,5.9,0.45,181 days 00:00:00,0.0,1.0,1.0
75%,NaN,NaN,NaN,NaN,NaN,3.0,6.0,7.1,0.59,274 days 00:00:00,1.0,1.0,1.0
max,NaN,NaN,NaN,NaN,NaN,5.0,10.0,10.0,1.0,365 days 00:00:00,1.0,1.0,1.0
counts,18590,18590,18590,18590,18590,18590,18590,18590,18590,18590,18590,18590,18590
uniques,18590,366,2,2,2,6,10,101,101,366,2,2,2
missing,0,0,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,unique,date,bool,bool,bool,numeric,numeric,numeric,numeric,categorical,bool,bool,bool

In [31]:
df1.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,Vintage,Gender_dum,Company_Type_dum,WFH_Setup_Available_dum
0,fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16,92 days,0,1,0
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36,31 days,1,1,1
2,fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20,58 days,1,1,1
3,fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52,160 days,0,1,0
4,fffe3300350037003500,2008-11-26,Male,Product,Yes,2.0,4.0,3.6,0.29,35 days,1,0,1

In [32]:
group1 = df1[df1['Gender_dum'] == 0]['Burn Rate']
group2 = df1[df1['Gender_dum'] == 1]['Burn Rate']

In [33]:
# Perform t-test
t_stat, p_value = stats.ttest_ind(group1, group2)
# Convert the p-value to decimal format
p_value_decimal = "{:.4f}".format(p_value)  # Specify the number of decimal places you desire

print("T-Statistic: ", t_stat)
print("P-Value: ", p_value_decimal)

T-Statistic:  -21.61389550433104
P-Value:  0.0000

In [34]:
group1 = df1[df1['WFH_Setup_Available_dum'] == 0]['Burn Rate']
group2 = df1[df1['WFH_Setup_Available_dum'] == 1]['Burn Rate']
# Perform t-test
t_stat, p_value = stats.ttest_ind(group1, group2)
# Convert the p-value to decimal format
p_value_decimal = "{:.4f}".format(p_value)  # Specify the number of decimal places you desire

print("T-Statistic: ", t_stat)
print("P-Value: ", p_value_decimal)

T-Statistic:  44.00613323235241
P-Value:  0.0000

In [35]:
group1 = df1[df1['Company_Type_dum'] == 0]['Burn Rate']
group2 = df1[df1['Company_Type_dum'] == 1]['Burn Rate']
# Perform t-test
t_stat, p_value = stats.ttest_ind(group1, group2)
# Convert the p-value to decimal format
p_value_decimal = "{:.4f}".format(p_value)  # Specify the number of decimal places you desire

print("T-Statistic: ", t_stat)
print("P-Value: ", p_value_decimal)

T-Statistic:  -0.8049206390798154
P-Value:  0.4209

In [36]:
signi_cat_variables = ['Gender_dum','WFH_Setup_Available_dum']

In [37]:
cont_variables = ['Designation','Resource Allocation','Mental Fatigue Score']

In [38]:
import scipy.stats as stats
# Independent variable
independent_variable = df1['Designation']

# Dependent variable
dependent_variable = df1['Burn Rate']

# Calculate correlation coefficient and p-value
correlation_coefficient, p_value = stats.pearsonr(independent_variable, dependent_variable)

print(f"Correlation coefficient: {correlation_coefficient}")
print(f"P-value: {p_value}")

Correlation coefficient: 0.7364115541235408
P-value: 0.0

In [39]:
df_cont_var = df1[['Designation','Resource Allocation','Mental Fatigue Score','Burn Rate']]
correlation_matrix = df_cont_var.corr()

correlation_matrix

,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
Designation,1.000000,0.877893,0.691823,0.736412
Resource Allocation,0.877893,1.000000,0.799563,0.855005
Mental Fatigue Score,0.691823,0.799563,1.000000,0.944389
Burn Rate,0.736412,0.855005,0.944389,1.000000

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, roc_auc_score
import matplotlib.pyplot as plt

In [75]:
x_features = ['Gender_dum','WFH_Setup_Available_dum','Designation','Resource Allocation','Mental Fatigue Score']

xdf = df1[x_features]
ydf = df1[['Burn Rate']]


X_train, X_test, y_train, y_test = train_test_split(xdf, ydf, test_size=0.2, random_state=42)
y_true = y_train

In [55]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [56]:
y_pred = model.predict(X_train)
y_pred
print(min(y_pred))
print(max(y_pred))
print(np.mean(y_pred))
print(np.median(y_pred))

[-0.07345105]
[0.92570864]
0.45202057557826786
0.45813437373332544

In [70]:
# Get the coefficients and intercept
coefficients = model.coef_
intercept = model.intercept_

# Print the coefficients, intercept, and predictions
print(f"Coefficients: {coefficients[0]}")
print(f"Intercept: {intercept}")
print(f"Predicted values: {y_pred}")

Coefficients: [ 0.00470955 -0.01111124 -0.00456467  0.028459    0.07409019]
Intercept: [-0.08623414]
Predicted values: [[0.72098252]
 [0.63003476]
 [0.43455468]
 ...
 [0.33387069]
 [0.36132693]
 [0.7080015 ]]

In [69]:
# Print the equation
equation = f"y = {intercept}"
for i, coefficient in enumerate(coefficients[0]):
    equation += f" + {coefficient}*{x_features[i]}"

print(f"Equation: {equation}")

Equation: y = [-0.08623414] + 0.0047095493796243115*Gender_dum + -0.011111242285903308*WFH_Setup_Available_dum + -0.004564673903489783*Designation + 0.028458998110819003*Resource Allocation + 0.07409019461484477*Mental Fatigue Score

In [73]:
len(y_true)

18590

In [74]:
len(y_pred)

14872

In [76]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming you have already fit the model and obtained predictions

# Calculate mean absolute error (MAE)
mae = mean_absolute_error(y_true, y_pred)

# Calculate mean squared error (MSE)
mse = mean_squared_error(y_true, y_pred)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_true, y_pred, squared=False)

# Calculate R-squared (R2) score
r2 = r2_score(y_true, y_pred)

# Print the metrics
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")

Mean Absolute Error (MAE): 0.04564411750518791
Mean Squared Error (MSE): 0.0031158955813850586
Root Mean Squared Error (RMSE): 0.055820207643693505
R-squared (R2) Score: 0.9207652282267536

In [77]:
y_true_test = y_test
y_pred_test = model.predict(X_test)
y_pred_test
print(min(y_pred_test))
print(max(y_pred_test))
print(np.mean(y_pred_test))
print(np.median(y_pred_test))

[-0.07345105]
[0.92570864]
0.45413550505570294
0.46097871929132017

In [78]:
# Calculate mean absolute error (MAE)
mae = mean_absolute_error(y_true_test, y_pred_test)

# Calculate mean squared error (MSE)
mse = mean_squared_error(y_true_test, y_pred_test)

# Calculate root mean squared error (RMSE)
rmse = mean_squared_error(y_true_test, y_pred_test, squared=False)

# Calculate R-squared (R2) score
r2 = r2_score(y_true_test, y_pred_test)

# Print the metrics
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")

Mean Absolute Error (MAE): 0.04552053854113682
Mean Squared Error (MSE): 0.003063995013805901
Root Mean Squared Error (RMSE): 0.055353364972744894
R-squared (R2) Score: 0.920218407622909